@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
    background-color:white;
    font-family: italic;
    font-size: 16px;
    color: rgb(87,87,87);
    text-align: center;
}

.container {
    width: 50px auto;
    margin: 50px auto;
    max-width: 992px;
}

.banner {

}

.link-medium {
    font-family: italic;
    font.size: 28px;
    color: rgb(87,87,87);
}

.link-medium:hover {
    color:blueviolet
}

a {
    linear-gradient: 
}

a:hover {
    linear-gradient:
}

@media (max-width: 1200px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 992px;
    }
}

@media(max-width: 992px) {
    .container {
      width: 768px;
    }
  }

@media (max-width: 768px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 576px;
    }
}

@media (max-width: 576px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
}
